<suite name="Automation Test Suite" parallel="false">

    <listeners>
        <listener class-name="listener.TestListener"/>
    </listeners>

    <test name="UI Tests">
        <classes>
            <class name="tests.FormsTest"/>
            <class name="tests.InteractionsTest"/>
        </classes>
    </test>

    <test name="Database Tests">
        <classes>
            <class name="tests.StudentDBTest"/>
        </classes>
    </test>

</suite>